@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: Saira, sans-serif;
}

body {
    cursor: auto;
  overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

@theme {
    --color-dark-100: #1a1a1a;
    --color-dark-200: #1f1f1f;
    --color-dark-300: #2d2d2d;
    --color-dark-400: #3d3a3d; 
    --color-purple: #8B5CF6;
    --color-pink: #EC4899;
    --color-blue: #3B82F6;
}

.typewriter-loop {
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 700;
  padding-right: 8px;
}

/* Cursor */
.typewriter-loop::after {
  content: "";
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
  width: 2px;
  background:#f8fafc;
  animation: blink 0.7s infinite;
}

/* The typing text */
.typewriter-loop::before {
  content: "MERN Developer";
  color: #f8fafc;
  animation: typingWords 12s infinite;
}

/* Cursor blink */
@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}


@keyframes typingWords {
  /* Word 1: MERN Developer */
  0% { content: "MERN Developer"; }
  0%, 8% { clip-path: inset(0 100% 0 0); }      
  12%, 22% { clip-path: inset(0 0 0 0); }       
  26%, 32% { clip-path: inset(0 100% 0 0); }   

  /* Word 2: Next.js Developer */
  33% { content: "Next.js Developer"; }
  33%, 41% { clip-path: inset(0 100% 0 0); }
  45%, 56% { clip-path: inset(0 0 0 0); }
  60%, 66% { clip-path: inset(0 100% 0 0); }

  /* Word 3: Full Stack Developer */
  67% { content: "Full Stack Developer"; }
  67%, 75% { clip-path: inset(0 100% 0 0); }
  79%, 91% { clip-path: inset(0 0 0 0); }
  94%, 100% { clip-path: inset(0 100% 0 0); }
}


